@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-sans: Poppins;
    --font-mono: Fira Code;
    --font-serif: Lora;
    --radius: 0.75rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
  }

  :root {
    --background: #fdfbf7;
    --foreground: #0a2d27;
    --card: #ffffff;
    --card-foreground: #0a2d27;
    --popover: #ffffff;
    --popover-foreground: #0a2d27;
    --primary: #0a2d27;
    --primary-foreground: #fdfbf7;
    --secondary: #d4b483;
    --secondary-foreground: #0a2d27;
    --muted: #f3f4f6;
    --muted-foreground: #556b68;
    --accent: #e9e3d8;
    --accent-foreground: #0a2d27;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #0a2d27;
    --chart-1: #0a2d27;
    --chart-2: #d4b483;
    --chart-3: #1a584e;
    --chart-4: #e4c59a;
    --chart-5: #809c98;
    --sidebar: #0a2d27;
    --sidebar-foreground: #fdfbf7;
    --sidebar-primary: #d4b483;
    --sidebar-primary-foreground: #0a2d27;
    --sidebar-accent: #10453c;
    --sidebar-accent-foreground: #fdfbf7;
    --sidebar-border: #1a584e;
    --sidebar-ring: #d4b483;
    --font-sans: Poppins;
    --font-serif: Lora;
    --font-mono: Fira Code;
    --radius: 0.75rem;
    --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.25rem;
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }

  .dark {
    --background: #0a2d27;
    --foreground: #fdfbf7;
    --card: #1a584e;
    --card-foreground: #fdfbf7;
    --popover: #0a2d27;
    --popover-foreground: #fdfbf7;
    --primary: #d4b483;
    --primary-foreground: #0a2d27;
    --secondary: #10453c;
    --secondary-foreground: #fdfbf7;
    --muted: #10453c;
    --muted-foreground: #a3b5b2;
    --accent: #10453c;
    --accent-foreground: #fdfbf7;
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    --border: #1a584e;
    --input: #1a584e;
    --ring: #d4b483;
    --chart-1: #d4b483;
    --chart-2: #fdfbf7;
    --chart-3: #1a584e;
    --chart-4: #e4c59a;
    --chart-5: #809c98;
    --sidebar: #08241f;
    --sidebar-foreground: #fdfbf7;
    --sidebar-primary: #d4b483;
    --sidebar-primary-foreground: #0a2d27;
    --sidebar-accent: #10453c;
    --sidebar-accent-foreground: #fdfbf7;
    --sidebar-border: #1a584e;
    --sidebar-ring: #d4b483;
    --font-sans: Poppins;
    --font-serif: Lora;
    --font-mono: Fira Code;
    --radius: 0.75rem;
    --shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.10);
    --shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.10);
    --shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
    --shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
    --shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
    --shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
    --shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.50);
    --color-1: oklch(66.2% 0.225 25.9);
    --color-2: oklch(60.4% 0.26 302);
    --color-3: oklch(69.6% 0.165 251);
    --color-4: oklch(80.2% 0.134 225);
    --color-5: oklch(90.7% 0.231 133);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes rainbow {
  0% {
    background-position: 0%;
    }
  100% {
    background-position: 200%;
    }
  }
}