@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-sans: Amaranth, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em)
  }

  :root {
    --background: oklch(0.2987 0.0466 183.8532);
    --foreground: oklch(1.0000 0 0);
    --card: oklch(0.4083 0.0572 183.4468);
    --card-foreground: oklch(1.0000 0 0);
    --popover: oklch(0.4083 0.0572 183.4468);
    --popover-foreground: oklch(1.0000 0 0);
    --primary: oklch(0.7879 0.0861 71.2491);
    --primary-foreground: oklch(0.2987 0.0466 183.8532);
    --secondary: oklch(0.9082 0.1247 128.4046);
    --secondary-foreground: oklch(0.2987 0.0466 183.8532);
    --muted: oklch(0.5341 0.0630 185.5042);
    --muted-foreground: oklch(0.7137 0.0192 261.3246);
    --accent: oklch(0.5529 0.0539 182.5599);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.5529 0.0539 182.5599);
    --input: oklch(0.5529 0.0539 182.5599);
    --ring: oklch(0.9082 0.1247 128.4046);
    --chart-1: oklch(0.7879 0.0861 71.2491);
    --chart-2: oklch(0.7879 0.0861 71.2491);
    --chart-3: oklch(0.7879 0.0861 71.2491);
    --chart-4: oklch(0.7879 0.0861 71.2491);
    --chart-5: oklch(0.7879 0.0861 71.2491);
    --radius: 0.5rem;
    --sidebar: oklch(0.4083 0.0572 183.4468);
    --sidebar-foreground: oklch(1.0000 0 0);
    --sidebar-primary: oklch(0.7408 0.1715 125.6422);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.5341 0.0630 185.5042);
    --sidebar-accent-foreground: oklch(0.7408 0.1715 125.6422);
    --sidebar-border: oklch(0.7408 0.1715 125.6422);
    --sidebar-ring: oklch(0.7408 0.1715 125.6422);
    --font-sans: Amaranth, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-mono: Inter, ui-sans-serif, sans-serif, system-ui;
    --shadow-color: #000000;
    --shadow-opacity: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0;
    --shadow-offset-x: 0;
    --shadow-offset-y: 0px;
    --letter-spacing: 0;
    --spacing: 0.25rem;
    --shadow-2xs: 0 0px 0px 0 hsl(0 0% 0% / 0.00);
    --shadow-xs: 0 0px 0px 0 hsl(0 0% 0% / 0.00);
    --shadow-sm: 0 0px 0px 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow: 0 0px 0px 0 hsl(0 0% 0% / 0.00), 0 1px 2px -1px hsl(0 0% 0% / 0.00);
    --shadow-md: 0 0px 0px 0 hsl(0 0% 0% / 0.00), 0 2px 4px -1px hsl(0 0% 0% / 0.00);
    --shadow-lg: 0 0px 0px 0 hsl(0 0% 0% / 0.00), 0 4px 6px -1px hsl(0 0% 0% / 0.00);
    --shadow-xl: 0 0px 0px 0 hsl(0 0% 0% / 0.00), 0 8px 10px -1px hsl(0 0% 0% / 0.00);
    --shadow-2xl: 0 0px 0px 0 hsl(0 0% 0% / 0.00);
    --tracking-normal: 0
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}